@page "/"
@page "/index"

@namespace Blazor.Database.Components
<h1>Blazor Database Example Site</h1>

<p>This is the Blazor Database Example Site.  It demos:</p>

<ol>
    <li>
        A CRUD/EF Database Template for Blazor - <a href="https://github.com/ShaunCurtis/Blazor.Database">Blazor.Database GitHub Site</a>
    </li>
    <li>
        Various editor components used in the project.
    </li>
    <li>
        Dynamic Layouts/Routing/View Loading - <a href="https://github.com/ShaunCurtis/CEC.Blazor.RouteView">CEC.Blazor.RouteView GitHub Site</a>
    </li>
</ol>

@code{

}


