@namespace Blazor.Database.Components

<h1>Weather forecast</h1>

@if (!this._isLoaded)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
                <th>Modal Actions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in this.ControllerService.Records)
            {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
                <td class="text-right">
                    <button class="btn btn-secondary" @onclick="() => this.ViewInModal(forecast.ID)">View in Modal</button>
                    <button class="btn btn-primary" @onclick="() => this.EditInModal(forecast.ID)">Edit in Modal</button>
                </td>
                <td class="text-right">
                    <button class="btn btn-secondary" @onclick="() => this.View(forecast.ID)">View</button>
                    <button class="btn btn-primary" @onclick="() => this.Edit(forecast.ID)">Edit</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
<UIContainer>

    <UIFormRow>
        <UIButtonColumn>
            <UIButton Show="true" CssColor="btn-success" ClickEvent="() => this.New()">Add New Record</UIButton>
        </UIButtonColumn>
    </UIFormRow>

</UIContainer>
<BaseModalDialog @ref="this.Modal" ></BaseModalDialog>
