@*/// =================================
/// Author: Shaun Curtis, Cold Elm Coders
/// License: MIT
/// ==================================
*@

@namespace Blazor.SPA.Components
@inherits UIBase

@if (this.Show)
{
    <button class="@this.CssClass" @onclick="ButtonClick" type="@Type" disabled="@this.Disabled" @attributes="UserAttributes">
        @this.ChildContent
    </button>
}

@code {


    [Parameter] public string Type { get; set; } = "button";

    [Parameter] public EventCallback<MouseEventArgs> ClickEvent { get; set; }

    protected override string PrimaryClass => "btn mr-1";

    protected async Task ButtonClick(MouseEventArgs e) => await this.ClickEvent.InvokeAsync(e);

}
