@namespace Blazor.Database.Components

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">@_title</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @if (_isWasm)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Server Home
                </NavLink>
            </li>
        }
        else
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/wasm" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> WASM Home
                </NavLink>
            </li>
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdatamodal">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch Dialog Data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdatainline">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch Inline Data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <span class="" aria-hidden="true"></span> Component Demos
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="testeditor">
                <span class="oi oi-list-rich" aria-hidden="true"></span> EditState
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="validationeditor">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ValidationState
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="inlinedialogeditor">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Inline Dialog
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="editorcontrols">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Editor Controls
            </NavLink>
        </li>
    </ul>
</div>

@code {

    [Inject] NavigationManager NavManager { get; set; }

    private bool _isWasm => NavManager?.Uri.Contains("wasm", StringComparison.CurrentCultureIgnoreCase) ?? false;

    private string _title => _isWasm ? "Blazor.Database.WASM" : "Blazor.Database.Server";

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
