@namespace Blazor.Database.Components

<td @attributes="this.AdditionalAttributes">
    @this.ChildContent
</td>

@code {

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public IDictionary<string, object> AdditionalAttributes { get; set; } = new Dictionary<string, object>();

}
