@inherits Form
@namespace Blazor.Database.Components

<h3>Form Part 4</h3>
<h4>Your Data</h4>

<EditForm Model="@Model">
    <div class="container">
        <div class="row my-2">
            <div class="col-4">
                Date
            </div>
            <div class="col-4">
                <InputDate @bind-Value="Model.Date" class="form-control" disabled></InputDate>
            </div>
            <div class="col-4">
            </div>
        </div>
        <div class="row my-2">
            <div class="col-4">
                Temperature &deg;C
            </div>
            <div class="col-4">
                <InputNumber @bind-Value="Model.TemperatureC" class="form-control" disabled></InputNumber>
            </div>
            <div class="col-4">
            </div>
        </div>
        <div class="row my-2">
            <div class="col-4">
                Summary
            </div>
            <div class="col-4">
                <InputText @bind-Value="Model.Summary" class="form-control" disabled></InputText>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</EditForm>

@code {

}
