@namespace Blazor.Database.Components

<div class="@cssclass">
    @this.ChildContent
</div>

@code {

    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public int Cols { get; set; } = 0;

    private string cssclass => this.Cols > 0 ? $"col-{this.Cols}" : $"col";

}
