@namespace Blazor.Database.Components

<div class="@cssclass">
    @this.ChildContent
</div>

@code {

    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public int Cols { get; set; } = 4;

    private string cssclass => this.Cols > 0 ? $"col-{this.Cols} col-form-label" : $"col col-form-label";

}
