@*/// ============================================================
/// Author: Shaun Curtis, Cold Elm Coders
/// License: Use And Donate
/// If you use it, donate something to a charity somewhere
/// ============================================================*@

@namespace Blazr.Database.Forms
@inherits EditRecordFormBase<WeatherForecast, EditWeatherForecast>

<InlineDialog Lock="this._isInlineDirty" Transparent="false">
    <FormViewTitle>
        <h2>Weather Forecast Editor</h2>
    </FormViewTitle>
    <UILoader State="this.LoadState">
        <EditForm EditContext="this.EditContext" OnValidSubmit="HandleValidSubmit" class=" px-2 py-3">
            <EditFormState/>
            <ValidationFormState ValidStateChanged="this.ValidStateChanged"></ValidationFormState>
            <UIContainer class="form-composite">
                <UIFormRow>
                    <UIColumn MediumColumns="6" Columns=12>
                        <FormDataListControl Label="Location" ShowLabel="true" @bind-Value="this.Model.Location" ShowValidation="true" DataList="Countries.CountryList" RestrictToList="true" HelperText="Where?" />
                    </UIColumn>
                    <UIColumn MediumColumns="3" Columns=12>
                        <FormEditControl Label="Date" ShowLabel="true" @bind-Value="this.Model.Date" ControlType="typeof(InputDate<DateTimeOffset>)" ShowValidation="true" HelperText="Enter the Forecast Date"></FormEditControl>
                    </UIColumn>
                    <UIColumn MediumColumns="3" Columns=12>
                        <FormEditControl Label="Temperature &deg;C" ShowLabel="true" @bind-Value="this.Model.TemperatureC" ControlType="typeof(InputNumber<int>)" ShowValidation="true" HelperText="Enter the Temperature &deg;C"></FormEditControl>
                    </UIColumn>
                </UIFormRow>
                <UIFormRow>
                    <UIColumn MediumColumns="12" Columns=12>
                        <FormDataListControl Label="Summary" ShowLabel="true" @bind-Value="this.Model.Summary" ShowValidation="true" DataList="WeatherSummaries.SummariesList" HelperText="Summarise the Weather" />
                    </UIColumn>
                </UIFormRow>
            </UIContainer>
            <FormEditButtons ContainerSize="BootstrapSize.XLarge">
                @this.ButtonContent
            </FormEditButtons>
        </EditForm>
    </UILoader>
</InlineDialog>
