@namespace Blazr.SPA.Components

@if (this.hasPagination)
{
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link cursor-hand text-nowrap" @onclick="() => this.RecordPager.ToPage(0)">&vert;&lt;</a>
            </li>
            @if (this.RecordPager.HasBlocks)
            {
                <li class="page-item">
                    <a class="page-link cursor-hand text-nowrap" @onclick="() => this.RecordPager.BlockMove(-1)">&lt;&lt;</a>
                </li>
            }
            @for (var i = this.RecordPager.DisplayStartBlockPage; i <= this.RecordPager.DisplayEndBlockPage; i++)
            {
                var displayPageNo = i;
                var pageNo = i - 1;
                @if (displayPageNo > this.RecordPager.DisplayLastPage) break;
                @if (displayPageNo == this.RecordPager.DisplayPage)
                {
                    <li class="page-item active">
                        <span class="page-link cursor-hand text-nowrap">
                            @displayPageNo
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link cursor-hand text-nowrap" @onclick="() => this.RecordPager.ToPage(pageNo)">@displayPageNo</a>
                    </li>
                }

            }
            @if (this.RecordPager.HasBlocks)
            {
                <li class="page-item">
                    <a class="page-link cursor-hand text-nowrap" @onclick="() => this.RecordPager.BlockMove(1)">&gt;&gt;</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link cursor-hand text-nowrap" @onclick="() => this.RecordPager.ToPage(this.RecordPager.LastPage)">&gt;&vert;</a>
            </li>
        </ul>
    </nav>
}

@code {
    [Parameter] public RecordPager RecordPager { get; set; }

    private bool hasPagination => this.RecordPager != null && this.RecordPager.HasPagination;
}
