@*
    /// =================================
    /// Author: Shaun Curtis, Cold Elm
    /// License: MIT
    /// ==================================
*@

@namespace Blazor.SPA.Components
@inherits BaseInputControl<int>

<div class="btn-group @this.btnSize" role="group" aria-label="select buttons">
    @foreach (var option in DataList)
    {
        <button type="button" class="@this.GetClass(option.Key)" @onclick="()=> this.OnButtonSelect(option.Key)">@option.Value</button>
    }
</div>
