@namespace Blazor.SPA.Components

<td class="max-column" @attributes="this.AdditionalAttributes">
    <div class="grid-overflow">
        <div class="grid-overflowinner">
            @ChildContent
        </div>
    </div>
</td>

@code {

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public IDictionary<string, object> AdditionalAttributes { get; set; } = new Dictionary<string, object>();

}
