@page "/counter"

@namespace Blazr.Database.Components
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-dark" @onclick="Lock">Lock me</button>

@code {
    [CascadingParameter] private NavigationLock? navigationLock { get; set; }

    [Parameter] public int ID { get; set; } = 0;

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private bool locked;

    private void Lock()
    {
        this.locked = !this.locked;
        this.navigationLock?.SetLock(locked);
    }


    protected override Task OnInitializedAsync()
    {
        currentCount = ID;
        return base.OnInitializedAsync();
    }
}
