@page "/"
@page "/index"

@namespace Blazr.Database.Components
<h1>My Blazor Database Template Site</h1>

<p>This is a Blazor site that demonstrates my Database development Template:</p>

<ol>
    <li>
        A CRUD/EF Database Template for Blazor - <a href="https://github.com/ShaunCurtis/Blazr.Database">Blazr.Database GitHub Site</a>.
    </li>
    <li>
        Various editor components to manage edit state.
    </li>
    <li>
        Building WASM and Server Projects in the same solution and running them from the same site.
    </li>
</ol>

<p>
    There are a series of articles that describe how this site is put together <a href="https://shauncurtis.github.io/Building-a-Database-Application-in-Blazor/">here</a>.
</p>

@code{

}


