@*
    /// =================================
    /// Author: Shaun Curtis, Cold Elm
    /// License: MIT
    /// ==================================
*@

@namespace Blazor.SPA.Components

<div class="@this.backcss"></div>

<div class="@this.CssClass">
    @if (this.Cascade)
    {
        <CascadingValue Value="this">
            @this.ChildContent
        </CascadingValue>
    }
    else
    {
        @this.ChildContent
    }
</div>

