@namespace Blazr.UIComponents

@inherits ComponentBase
@if (this.State == ComponentState.Loaded)
{
    @this.ChildContent
}
else if (this.State == ComponentState.InError)
{
    if (this.ErrorContent != null)
    {
        @this.ErrorContent
    }
    else
    {
        <div class="m-2 p-2">Error Loading Content</div>
    }
}
else
{
    if (this.LoadingContent != null)
    {
        @this.LoadingContent
    }
    else
    {
        <div class="m-2 p-2">Loading......</div>
    }
}
@code{

    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public RenderFragment LoadingContent { get; set; }

    [Parameter] public RenderFragment ErrorContent { get; set; }

    [Parameter] public ComponentState State { get; set; } = ComponentState.Loaded;

}
